<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ChangePassword</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container my-2">
    <h2 style="text-align: center">Change Your Expired Password</h2>

    <form th:action="@{/changePassword}" method="post" style="max-width: 350px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div th:if="${message != null}" class="m-3">
                <p class="text-danger">[[${message}]]</p>
            </div>
            <div>
                <p>
                    <input type="password" name="oldPassword" class="form-control"
                           placeholder="Old Password" required autofocus />
                </p>
                <p>
                    <input type="password" name="newPassword" id="newPassword" class="form-control"
                           placeholder="New password" required />
                </p>
                <p>
                    <input type="password" class="form-control" placeholder="Confirm new password"
                           required oninput="checkPasswordMatch(this);" />
                </p>
                <p class="text-center">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </p>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">function checkPasswordMatch(fieldConfirmPassword) {
    if (fieldConfirmPassword.value != $("#newPassword").val()) {
        fieldConfirmPassword.setCustomValidity("Passwords do not match!");
    } else {
        fieldConfirmPassword.setCustomValidity("");
    }
}</script>
</body>
</html>