<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        .grid-container {
            display: inline-grid;
            grid-template-columns: auto auto auto;
            background-color: #2196F3;
            margin-top: 15px;
            margin-left: 70px;
            width: 90%;
        }
        .grid-container2 {
            display: inline-grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            background-color: #2196F3;
            margin-top: 15px;
            margin-left: 70px;
            width: 90%;
        }

        .grid-item{
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<footer>
    <div style="display: flex; background-color: aliceblue">
        <img style="width: 200px; height: 110px; margin-left: 120px;" src="https://www.flaticon.com/svg/vstatic/svg/3820/3820284.svg?token=exp=1613301491~hmac=3541525e8e25608bfd434cc1a5f6a20e"/>
        <h1 style="margin-left: 200px">Online Banking System</h1>

        <div sec:authorize = "isAuthenticated()" style="margin-left: 180px">
            <h1 style="font-size: medium">Welcome, <span sec:authentication="name">Username</span></h1>
            <span sec:authentication="principal.authorities">Role: </span><br><br>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout">
            </form>
            <br>
            <a th:href="@{/changePassword}">Reset password</a>
        </div>
    </div>
</footer>


<body>
    </div>
            <div class="grid-container">
                <div class="grid-item"><a th:href="@{/between}">Transfer</a></div>
                <div class="grid-item"><a th:href="@{/deposit}">Deposit into account</a></div>
                <div class="grid-item"><a th:href="@{/withdraw}">Withdraw from your account</a></div>
            </div>

            <div class="grid-container2">
                <div class="grid-item"><a th:href="@{/halyk}">Halyk Bank Home</a></div>
                <div class="grid-item"><a th:href="@{/customer}">Kaspi Home</a></div>
            </div>
    </div>
</body>
</html>