<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Main Halyk</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
        .myBank{
            background-color: lightskyblue;
            width: auto;
            height: auto;
            text-align: center;
        }
        a{
            font-size: 25px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<div class="container my-2">
    <div sec:authorize = "isAuthenticated()">
        Welcome <b><span sec:authentication="name"></span></b></div>
    <h1>Transaction information details</h1>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Post date</th>
            <th>Description</th>
            <th>Status</th>
            <th>OperationAmount</th>
            <th>Bank</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${HalykTransactionList}">
            <td th:text="${transaction.postDate}"></td>
            <td th:text="${transaction.description}"></td>
            <td th:text="${transaction.status}"></td>
            <td th:text="${transaction.operationAmount}"></td>
            <td th:text="${transaction.Bank}"></td>
            <td th:text="${transaction.existingBalance}"></td>
        </tr>
        <!--        <tr th:each="customer : ${listCustomers}">-->
        <!--            <td th:text="${customer.balance}"></td>-->
        <!--        </tr>-->
        </tbody>
    </table>
</div>
<div class="myBank">
    <a th:href="@{/halyk}" style="text-align: center">Return to My Bank</a>
</div>


</body>
</html>