<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Payment for water 80</h1>
            <h1>Payment for electricity 70</h1>
            <h1>Total 150</h1>
            <form th:action="@{/withdrawCom}" method="post">
                <div class="form-group" >
                    <label for="bank">Select the account you would like to withdraw:</label>
                    <select class="form-control" th:value="${bank}" name="bank" id="bank" required="required" autofocus="autofocus">
                        <option disabled="disabled" selected="selected"> select </option>
                        <option>Kaspi</option>
                        <option>Halyk</option>
                    </select>
                    <br />
                </div>
                <div class="form-group">
                    <label>Please specify the amount you would like to withdraw from your balance: </label>
                    <span class="input-group-addon">Amount $</span>
                    <input th:value="${amount}" type="text" name="amount" id="amount" class="form-control" aria-label="Amount (to the nearest dollar)"/>
                </div>






                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Withdraw</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
</body>
</html>