<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <fieldset>
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h2>Signup form</h2>
                    <hr />
                    <br>
                    <br>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="main-login main-center">
                <form class="form-horizontal" method="post" th:action="@{/process_register}">

                    <div class="form-group">
                        <label for="firstName" class="cols-sm-2 control-label">User Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" th:value="${user.username}" id="firstName" name="username" roleId="firstname"  placeholder="Enter your username" required="required"/>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" th:value="${user.password}" id="password" name="password" roleId="password"  placeholder="Enter your Password" required="required"/>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="showPassword" type="checkbox" />Show Password
                                </label>
                            </div>
                        </div>
                    </div>



                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Sign up!</button>
                    </div>

                    <hr />

                    <div class="form-group ">
                        <a  class="btn btn-info btn-lg btn-block login-button" th:href="@{/}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </fieldset>
</div>
</body>
</html>