<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Kaspi Bank</title>
    <style>
        .balance{
            background-color: lightskyblue;
            margin-left: 26%;
            width: 50%;
            height: 100px;
            text-align: center;
        }
        a{
            font-size: 25px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 style="text-align: center">Banking Account</h1>
    <h1 style="text-align: center"><span sec:authentication="name">Username</span>&nbsp;</h1>
</div>

<div class="balance">
    <span>Your Kaspi Bank card balance amount:</span>
    <h1>&#8376; <span th:text="${Customer.balance}">...</span></h1>
    <br>
    <br>

    <a th:href="@{/deposit}">Deposit into account</a>
    <br>
    <br>
    <a th:href="@{/withdraw}">Withdraw from your account</a><br><br>
    <a th:href="@{/info}">Transfer History</a>
</div>



</body>
</html>